<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Crud in NodeJS</title>
</head>
<body>
    <h2>Editar registros</h2>



    <% data.forEach(function(details) { %>

        <form action="/edit/<%= details._id %>" method="POST">

            <input type="text" value="<%= details.name %>" name="name">
            <input type="text" value="<%= details.surname %>" name="surname">
            <br />
            <br>
            <button><a href="/show">Listar Todos</a></button>
            <button type="submit">Editar</button>

        </form>

    <% }) %>

</body>
</html>