<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Cadastro de Usuário<h2>
    
    <form action="/show" method="POST">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Sobrenome" name="surname">
        <button type="submit">Cadastrar</button>

    </form> 

    <br>
    <button><a href="/show">Listar Todos</a></button>
</body>
</html>