<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>

    <h2>Salas<h2>
    <table border="1">
        <thead>
            <tr>
                <td width="30%">Nome</td>
                <td width="30%">Sobrenome</td>
                <td width="30%">Funções</td>
            </tr>
        </thead>
        <tbody>
        <% data.forEach(function(details) { %>
            <tr>
                <td><center><%= details.name %> </center></td>
                <td><center><%= details.surname %> </center></td>

                <td><a href="/edit/<%= details._id %>">Editar</a> - <a href="/delete/<%= details._id %>">Deletar</a></td>
          </tr>
            <% }) %>
        </tbody>
    </table>
    <button><a href="/">Novo</a></button>
</body>
</html>